.Articles{
    border: 1px solid red;
    margin: 30px;
}

.Articles .Article{
    background-color: #FFFFFF;
    border: 1px solid blue;
    
    margin: 20px;
    padding: 10px;
    
    border-radius: 8px;
    
    position: relative;
}

.Articles .Article:before {
    transform: skew(-15deg) rotate(-6deg);
    left: 15px;
}

.Articles .Article:after {
    transform: skew(15deg) rotate(6deg);
    right: 15px;
}

.Articles .Article:before, .Articles .Article:after {
    width: 50%;
    height: 20%;
    content: ' ';
    box-shadow: 0 15px 15px rgba(0,0,0,0.7);
    position: absolute;
    bottom: 40px;
    z-index: -1; 
}

.Articles .Article .Summary{
    margin-top: 10px;
    margin-bottom: 10px;
    
    padding: 10px;
    
    border: 1px solid purple;
}

.ArticleHeader{
    overflow: hidden;
}

.ArticleHeader .Title a{
    font-family: "Microsoft YaHei", Georgia, 'Times New Roman', Times, 'Songti SC', SimSun, serif;
    
    color: #000000;
}

.ArticleHeader .Title a:hover{
    color: #0085FF;
}

.ArticleHeader .Info{
    float: right;
}

.ArticleHeader .Info .Category{
    color: #FF9900;
}

.ArticleHeader .Info .Author{
    color: #4A86E8;
}

.ArticleHeader .Info .CreateTime{
    color: #6AA84F;
}

.ArticleFooter{
    overflow: hidden;
}

.ArticleFooter .ReadMore{
    color: #777777;
    float: right;
}

.ArticleFooter .ReadMore:hover{
    color: #0085FF;
}