#PageHeader{
    background: #2CA6CB;
    padding-top: 40px;
    padding-left: 40px;
    padding-bottom: 10px;
    box-shadow: 1px 3px 10px rgba(0,0,0,0.7);
}

#BlogHeader{
    overflow: hidden;
}

#BlogTextLogo{
    float: left;
    margin-left: 10px;
}

#BlogImgLogo{
    float: left;
}

#BlogImgLogo img{
    width: 5.5em;
}

#BlogName h1{
    font-size: 280%;
    color: #FFFFFF;
    font-family: "consolas", "Ubuntu Mono", "Microsoft YaHei", Georgia, 'Times New Roman', Times, 'Songti SC', SimSun, serif;
}

#BlogMotto h2{
    font-size: 200%;

    color: #FFFFFF;
    font-family: "consolas", "Ubuntu Mono", "Microsoft YaHei", Georgia, 'Times New Roman', Times, 'Songti SC', SimSun, serif;
}

#BlogNav {
    overflow: hidden;
}

#BlogNav ul{
    list-style: none;
    
    float: right;
}

#BlogNav ul li{
    text-align: center;
    
    float: left;
}

#BlogNav a.NavLink{
    display: block;

    height: 40px;
    line-height: 40px;
    width: 100px;

    background-color: #2CA6CB;
    color: #FFFFFF;
    
    font-family: Georgia;
    font-size: 20px;
}

#BlogNav a.NavLink:hover{
    background-color: #1B7F9E;
    color: #E9CD4C;
}
