#Sidebar{
    width: 22%;
    float: right;
    background: #FFFFFF;
    box-shadow: 1px 2px 3px #BBBBBB;
}

#Sidebar .Title{
    font-family: "consolas", "Ubuntu Mono", "Microsoft YaHei", Georgia, 'Times New Roman', Times, 'Songti SC', SimSun, serif;
    
    border-bottom: 1px solid #DDDDDD;
    padding: 15px;
}

#Tags .EachTag{
    margin: 10px;
}

#FriendLinks .EachFriendLink{
    margin: 10px;
}
