#Articles{
    background-color: #FFFFFF;
    box-shadow: 1px 2px 3px #BBBBBB;
    
    padding: 10px;
}

#Articles .ArticleItem{
    margin: 20px;
}

#Articles .ArticleItem a{
    font-size: 25px;
}

#Articles .ArticleItem .ArticleItemHeader{
    color: #000000;
    font-size: 10px;
}
