{% extends "parts/base.html" %}
{% load markdownRender %}

{% block content %}

<div id = "Articles">
    {% for article in articles %}
    <article class = "Article">
        <header class = "ArticleHeader">
            <div class = "Title">
                <h1>
                    <a href = "{% url 'BlogGetDetail' article.id %}">
                        {{ article.title }}
                    </a>
                </h1>
            </div>
        
            <div class = "Info">
                <span class = "Category">
                    {{ article.category.name }}
                </span>
        
                <span class = "Author">
                    {{ article.author }}
                </span>
        
                <span class = "CreateTime">
                    {{ article.createTime | date:"Y-m-d H:i" }}
                </span>
            </div>
        </header>
    
        <div class = "Summary">
            {{ article.content | markdownRender }}
        </div>
        
        <footer class = "ArticleFooter">
            <a href = "{% url 'BlogGetDetail' article.id %}" class = "ReadMore"> Read More </a>
        </footer>
    </article>
    {% endfor %}
</div>

{% endblock %}
