{% extends "parts/base.html" %}
{% load trunc %}
{% load markdownRender %}
{% load static %}

{% block style %}

<link rel = "stylesheet" type = "text/css" href = "{% static 'css/article-list.css' %}" />
<link rel = "stylesheet" type = "text/css" href = "{% static 'css/parts/markdown.css' %}" />
<link rel = "stylesheet" type = "text/css" href = "{% static 'css/parts/highlight.css' %}" />

{% endblock %}

{% block script %}

<script type = "text/javascript" src = "https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
<script type = "text/x-mathjax-config"> MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});</script>

{% endblock %}

{% block content %}

<div id = "Articles">
    {% for article in articles %}
    <article class = "Article">
        <header class = "ArticleHeader">
            <div class = "Title">
                <h1>
                    <a href = "{% url 'BlogGetDetail' article.id %}">
                        {{ article.title }}
                    </a>
                </h1>
            </div>
        
            <div class = "Info">
                <span class = "Category">
                    {{ article.category.name }}
                </span>
        
                <span class = "Author">
                    {{ article.author }}
                </span>
        
                <span class = "CreateTime">
                    {{ article.createTime | date:"Y-m-d H:i" }}
                </span>
            </div>
        </header>
    
        <div class = "Summary Markdown">
            {{ article.content | trunc | markdownRender }}
        </div>
        
        <footer class = "ArticleFooter">
            <a href = "{% url 'BlogGetDetail' article.id %}" class = "ReadMore"> Read More </a>
        </footer>
    </article>
    {% endfor %}
</div>

{% endblock %}
