{% extends "parts/base.html" %}
{% load markdownRender %}
{% load static %}

{% block style %}

<link rel = "stylesheet" type = "text/css" href = "{% static 'css/article-detail.css' %}" />
<link rel = "stylesheet" type = "text/css" href = "{% static 'css/parts/markdown.css' %}" />

{% endblock %}

{% block content %}
<article class = "Article">
    
    <header class = "ArticleHeader">
        <div class = "Title">
            <a href = "#">
                <h2> {{ article.title }} </h2>
            </a>
        </div>
    </header>
    
    <div class = "ArticleBody Markdown">
        {{ article.content | markdownRender}}
    </div>
    
    <footer class = "ArticleFooter">
        <div class = "Tags">
            Tags: 
            {% for tag in article.tags.all %}
            <span class = "EachTag">
                <a href = "{% url 'BlogGetArticlesByTag' tag.name %}"> {{ tag.name }} </a>
            </span>
            {% endfor %}
        </div>
    </footer>
    
</article>
{% endblock %}

