{% extends 'parts/base.html' %}
{% load static %}

{% block style %}
<link rel = "stylesheet" type = "text/css" href = "{% static 'css/article-archive.css' %}" />
{% endblock %}

{% block content %}

<div id = "Archive">
    <header class = "ArchiveHeader">
        <i class = "Icon fa fa-archive"></i>
        Archive
    </header>
    <div class = "TimeLine">
        {% for article in articles %}
        <div class = "TimeLineItem">
            <div class = "TimeLineNode"></div>
            <div class = "ArticleTitle">
                <a href = "{% url 'BlogGetDetail' article.permalink %}"> {{ article.title }} </a>
            </div>
            <footer class = "TimeLineItemFooter">
                <span class = "ArticleTime">
                    <i class = "fa fa-calendar"></i>
                    {{ article.createTime | date:"Y-m-d" }}
                </span>
                
                <span class = "ArticleCategory">
                    <i class = "fa fa-folder"></i>
                    {{ article.category }}
                </span>
                
                <span class = "ArticleTags">
                    <i class = "fa fa-tag"></i>
                    {% for tag in article.tags.all %}
                    <span class = "EachArticleTag">
                        <a href = "{% url 'BlogGetArticlesByTag' tag.permalink %}">
                        {{ tag.name }}
                        </a>
                    </span>
                    {% endfor %}
                </span>
            </footer>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
