{% extends "parts/base.html" %}
{% load markdownRender %}
{% load static %}

{% block style %}

<link rel = "stylesheet" type = "text/css" href = "{% static 'css/article-detail.css' %}" />

{% endblock %}

{% block content %}
<article class = "Article">
    
    <header class = "ArticleHeader">
        <div class = "Title">
            <a href = "#">
                <h2> {{ article.title }} </h2>
            </a>
        </div>
    </header>
    
    <div class = "ArticleBody">
        {{ article.content | markdownRender}}
    </div>
    
    <footer class = "ArticleFooter">
        
    </footer>
    
</article>

<div class = "comment">
    <div class = "comment-display" style = "padding-top: 20px;">
        <h3> Comments </h3>
        {% for comment in comments %}
            <div class = "comment-field" style = "padding-top: 10px;">
                {{ comment.name }} said: "{{ comment.content }}"
            </div>
        {% endfor %}
    </div>
    
    <div class  ="comment-post">
        <h3> Make a comment </h3>
        <form action = "{% url 'BlogGetDetail' article.id %}" method = "post">
            {% csrf_token %}
            {% for field in form %}
                <div class = "input-feild" style = "padding-top: 10px;">
                    {{ field.label }} : {{ field }}
                </div>
                <div class = "error">
                    {{ field.errors }}
                </div>
            {% endfor %}
            <button type = "submit" style = "margin-top: 10px"> Submit </button>
        </form>
    </div>
</div>

{% endblock %}
