<header id = "Header">

    <div id = "BlogHeader">
        <div id = "BlogLogo"> Logo </div>
        <div id = "BlogName"> Hellc </div>
        <div id = "BlogMotto"> Motto </div>
    </div>

    <nav id = "BlogNav">
        <ul>
            <li>
                <a href = "{% url 'BlogGetArticles' %}" class = "NavLink"> Home </a>
            </li>

            <li>
                <a href = "#" class = "NavLink"> Tags </a>
            </li>

            <li> 
                <a href = "#" class = "NavLink"> Archive </a>
            </li>

            <li>
                <a href = "#" class = "NavLink"> Friends </a>
            </li>

            <li>
                <a href = "#" class = "NavLink"> About </a>
            </li>
        </ul>
    </nav>

</header>
