<!DOCTYPE html>

{% load static %}

<html>

<head>
    <meta charset = "UTF-8">
    
    <title> Hellc </title>
    
    <link rel = "stylesheet" type = "text/css" href = "{% static 'css/parts/main.css' %}" />
    <link rel = "stylesheet" type = "text/css" href = "{% static 'css/parts/header.css' %}" />
    <link rel = "stylesheet" type = "text/css" href = "{% static 'css/parts/sidebar.css' %}" />
    <link rel = "stylesheet" type = "text/css" href = "{% static 'css/parts/footer.css' %}" />

    {% block style %} {% endblock %}
</head>

<body>

{% include "parts/header.html" %}

<div id = "Content">
    {% block content %} {% endblock %}
    {% include "parts/sidebar.html"%}
</div>

{% include "parts/footer.html" %}

</body>

</html>
