{% load static %}

<header id = "PageHeader">

    <div id = "BlogHeader">
        <div id = "BlogImgLogo">
            <img src = "{% static 'img/HellcLogo.jpg'%}" alt = "Hellc"/>
        </div>
        
        <div id = "BlogTextLogo">
            <div id = "BlogName">
                <h1> Hellc </h1>
            </div>
            
            <div id = "BlogMotto">
                <h2> Fly in the blue and free sky. </h2>
            </div>
        </div>
        
    </div>

    <nav id = "BlogNav">
        <ul>
            <li>
                <a href = "{% url 'BlogGetArticles' %}" class = "NavLink"> Home </a>
            </li>

            <li> 
                <a href = "#" class = "NavLink"> Archive </a>
            </li>

            <li>
                <a href = "#" class = "NavLink"> Friends </a>
            </li>

            <li>
                <a href = "#" class = "NavLink"> About </a>
            </li>
        </ul>
    </nav>

</header>
